html, body {
	position: relative;
	max-width: 100%;
	height: 100%;
	margin: 0;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 5px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	cursor: pointer;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: rgb(110, 72, 15);
}

button:focus {
	border-color: #666;
}

/* #header > #logIn {
	position: relative;
	z-index: 3;
	padding: 3px;
}

main {
	margin: 0 auto;
}

main > #artikkel {
	max-width: 100%;
	margin: 0 auto;

}
main > #artikkel > img {
	width: 100%;
} */


/* @media only screen and (max-width: 1800px) {

	#logo {
		position: relative;
		margin: 15px;
		margin-top: 15px;
		width: 5%;
		max-width: 500px;
		float: left;
		z-index: 2;
	}


	a {
		position: relative;
		color: #D08C25;
		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		font-size: 1.7rem;
		text-decoration: none;
		margin-top: 10px;
		padding: 1rem;
		float: left;
		z-index: 2;
	}

	#videoBg {
		position: absolute;
		z-index: 1;
	}

	#imgProfil {
		border-radius: 50%;
		float: right;
		width: 5%;
		margin-top: 10px;
	}

	#user > button {
		display: block;
		float: right;	
		display: block;
		float: right;
		font-size: 10px;
		margin-top: 35px;
		margin-right: 5px;
	}

	#logIn {
		display: block;
		float: right;
		font-size: 10px;
		margin-top: 50px;
	}
} */

@media only screen and (max-width: 400px) {
	html, body {
		position: relative;
		max-width: 100%;
		height: 100%;
		margin: 0;
	}

	#sdg {
		width: 8%;
		float: right;
		margin-top: 55px;
	  }

	  a {
		position: relative;
		width: 50px;
		color: #D08C25;
		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		font-size: 1.7rem;
		text-decoration: none;
		margin-top: 10px;
		padding: 1rem;
		float: left;
		z-index: 3;
	  }

	#tolvHeader {
	  position: absolute;
	  display: grid;
	  grid-template-rows: 1fr 1fr 1fr 1fr;
	  width: 100%;
	  height: 50%;
	  text-align: center;
	  justify-content: center;
	  z-index: 3;
	  bottom: 10px;
	}

	#tolvHeader > button {
	  	height: 50px;
	  	width: 75%;
	  	border: none;
	  	background-color: #D08C25;
	  	color: black;
	  	z-index: 3;
		font-size: 1rem;
		margin-top: 5px;
		padding: 20px 30px 20px 30px;
	}

	#videoBg {
	  position: absolute;
	  transform: rotate(-90deg);
	  z-index: 1;
	}

	iframe {
	  position: relative;
	}

	#logo {
		margin: 15px;
		margin-top: 55px;
		width: 10%;
		max-width: 500px;
		float: left;
	  }

	  #header > #logIn {
	  position: relative;
	  z-index: 3;
	  padding: 3px;
	}

	  /* USER */
	#imgProfil {
	  border-radius: 50%;
	  float: right;
	  width: 10%;
	  margin-top: 50px;
	  margin-right: 20px;
	}

	#header > button {
		height: 50px;
		width: 75%;
		border: none;
		background-color: #D08C25;
		color: black;
		z-index: 3;
	  	font-size: 1rem;
	  	margin-top: 5px;
	  	padding: 20px 30px 20px 30px;
  	}

	#user > button {
	  	background-color: black;
	  	color: white;
		display: block;
		float: right;	
		font-size: 10px;
		margin-right: 5px;
		margin-top: 60px;
	}

	  
}

   
