html, body {
	position: relative;
	max-width: 100%;
	height: 100%;
	margin: 0;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 5px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	cursor: pointer;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: rgb(110, 72, 15);
}

button:focus {
	border-color: #666;
}


   




/***************   MOBIL SKJERM   ***************/
/**************   OPP TIL 1100PX   ***************/
	html, body {
		position: relative;
		width: 100%;
		height: 70%;
		margin: 0;
	}

	#logo {
		position: relative;
		z-index: 3;
		width: 10%;
		float: inline-start;
		margin-top: 55px;
		margin-left: 30px;
	}

	h1 {
		position: relative;
		width: 220px;
		color: #D08C25;
		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		line-height: 2.7rem;
		letter-spacing: .2rem;
		font-size: 2.5rem;
		text-decoration: none;
		margin-top: 10px;
		padding: 1rem;
		float: left;
		z-index: 3;
	}

	#tolvHeader {
		position: relative;
		display: grid;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		width: 100%;
		text-align: center;
		justify-content: center;
		z-index: 3;
	}

	#tolvHeader > button {
		margin-top: 4px;
		font-size: 1.2rem;
		display: inline-block;
		border-radius: 4px;
		background-color: #D08C25;
		border: none;
		text-align: center;
		vertical-align: middle;
		padding: 2rem auto;
		height: 4rem;
  		width: 19rem;
  		transition: all 0.5s;
  		cursor: pointer;
  		margin: 1rem auto;
	}

	#videoBg {
		position: absolute;
		transform: rotate(-90deg);
		z-index: 1;
	}

	iframe {
		position: relative;
		margin-top: -30px;
		margin-left: 260px;
	}

	#logo {
		margin: 15px;
		margin-top: 55px;
		width: 10%;
		max-width: 500px;
		float: left;
	}

	#header > #logIn {
		position: relative;
		z-index: 3;
		padding: 3px;
	}

/***** user *****/
	#user {
		position: relative;
		z-index: 3;
		height: 50px;
		margin: 0 auto;
	}

	#logOutBtn {
		position: relative;
		top: -50px;
	}

	#imgProfil {

		  border-radius: 50%;
		  float: right;
		  width: 10%;
		  margin-top: 50px;
		  margin-right: 20px;
	}

	#noUser {
		position: relative;
		z-index: 3;
	  	color: white;
		display: block;
		float: right;	
		font-size: 10px;
		margin-top: 20px;
		margin-right: 20px;
	}

	#header > button {
		height: 50px;
		width: 15%;
		border: none;
		background-color: black;
		color: white;
		z-index: 3;
	  	font-size: 1rem;
	  	margin-top: 5px;
	  	padding: 20px 30px 20px 30px;
  	}

	#user > button {
	  	background-color: black;
	  	color: white;
		display: block;
		float: right;	
		font-size: 10px;
		margin-right: 5px;
		margin-top: 60px;
	}




 


/***************   STOR SKJERM   ***************/
/****************  FRA 1100PX   ***************/

@media (min-width: 600px) {
	html, body {
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}

	#logo {
		position: relative;
		z-index: 3;
		width: 5%;
		margin: 5% 2% 3% 8%;
		float: left;
	}

	h1 {
		position: relative;
		width: 60%;
		color: #D08C25;
		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		line-height: 3.5rem;
		letter-spacing: .6rem;
		font-size: 3.3rem;
		text-decoration: none;
		margin-top: 3%;
		padding: 1rem;
		float: left;
		z-index: 3;
	}

	#videoBg {
		position: absolute;
		z-index: 1;
		transform: rotate(0deg);
	}

	iframe {
		position: relative;
		margin-top: -43rem;
		margin-left: -60rem;
		width: 50%;
		height: 50%;
	}

	#tolvHeader {
		display: grid;
		grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
		
	}

	#tolvHeader > button {
		position: relative;
		height: 6rem;
		top: 30rem;

	}

/***** user *****/
	#imgProfil {
		width: 5%;
	}

	#logOutBtn {
		right: -5rem;
	}


}







